@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
html {
    scroll-behavior: smooth !important;
}
body {
    /* height: 100%; */
    font-family: 'Montserrat', sans-serif !important;
    /* overflow: hidden; */
}

input,
select {
    border-radius: 0px !important;
}
.marginal {
    margin-top: 120px;
}
.bg-img {
    min-height: 625px;
    background-color: rgb(119, 154, 221);
}
/* @media (min-width:767px) {
    body {
        overflow: scroll;
    }
} */
p.text-bright {
    color: #fafafa;
}