@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth !important;
}

body {
    /* height: 100%; */
    font-family: 'Playfair Display', serif !important;
    /* overflow: hidden; */
}

input,
select {
    border-radius: 0px !important;
}
.marginal {
    margin-top: 120px;
}
.bg-img {
    min-height: 625px;
    background-color: rgb(119, 154, 221);
}
/* @media (min-width:767px) {
    body {
        overflow: scroll;
    }
} */
p.text-bright {
    color: #fafafa;
}